<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django To Do List</title>
  </head>
  <body>
    <h1>Edit an Item</h1>

    <form method="POST">
      {% csrf_token %}
      <!-- ensures that the data is actually coming from the form and not from a random external place. Its a randomly generated key for the form and the database -->
      {{ form.as_p }}
      <div>
        <p>
          <button type="submit">Update Item!</button>
        </p>
      </div>
    </form>
  </body>
</html>
